.container-fluid {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
}

/* navigate section */
.navigate {
    justify-content: center;
    display: flex;
}

#nonProfitNav li.nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}

.nav-item {
    color: gray;
}

.navbar-toggler-icon {
    color: darkgreen;
    size: 25px;
    font-size: 25px;
}

}

/* intro */
.col-12 {
    flex: 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}

.hfhTitle {
    vertical-align: middle;
}

.intro {
    text-align: center;
}

/* wf */
.wf {
    justify-content: center;
    display: flex;
}

.wfTitle {
    text-align: center;
}

.wfc {
    text-align: center;
    font-size: 10px;
    text-emphasis: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* carousel */
.wfss {
    height: 325px;
    width: auto;
}
/* site plan */
.sitepp {
    justify-content: center;
    display: flex;
}

.sitepp img {
    height: 600px;
    width: auto;
}

/* user persona */
.userpp {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.userpp img {
    height: 600px;
    width: auto;
}

.colorpp {
    justify-content: center;
    display: flex;
}

.colors {
    justify-content: center;
    display: flex;
    color: white;
    font-size: 15px;
    text-align: center;
}

#cone {
    padding: -20px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-width: 2px;
    border-color: black;
    background-color: rgb(175, 175, 174);
    border-style: solid;
    text-decoration: white;
}

#ctwo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    background-color: rgb(84, 60, 23);
    border-style: solid;
}

#cthree {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    background-color: rgb(33, 73, 44);
    border-style: solid;
}

#cfour {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    background-color: rgb(63, 44, 22);
    border-style: solid;
}

#cfive {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-width: 2px;
    border-color: black;
    background-color: rgb(112, 112, 112);
    border-style: solid;
    margin-right: 15px;
}

.colortext {
    color: black;
    text-align: left;
}

.iconpara {
    text-align: right;
    padding-right: 100px;
}

.iconp {
    justify-content: center;
    display: flex;
    margin-right: 45px;
}

.iconp img {
    height: 500px;
    width: auto;
}

/* PROTOTYPES */
/* aboutsection */
#aboutusSection {
    justify-content: center;
    display: flex;
}

.aboutusp {
    border-radius: 2%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
}

.ASline {
    justify-content: center;
    display: flex;
}

.aboutphoto1 {
    width: 260px;
    height: 240px;
    vertical-align: middle;
    border: groove;
    border-color: black;
    border-width: 2px;
    padding: 10px
}

.aboutphotos {
    width: 250px;
    height: 230px;
    vertical-align: middle;
}

/* events */
#eventsSection {
    justify-content: center;
    display: flex;
}

.eventp {
    border-radius: 2%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

/* donate */
#donateSection {
    justify-content: center;
    display: flex;
}

.donatep {
    border-radius: 2%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

/* sponsor */
#sponsorSection {
    justify-content: center;
    display: flex;
}

.sponsorp {
    border-radius: 2%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

/* contact */
#contactSection {
    justify-content: center;
    display: flex;
}

.contactp {
    border-radius: 2%;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    vertical-align: middle;
    justify-content: center;
    display: flex;
}

/* elements */
.fas.fa-cirlce {
    font-size: 10px;
    text-emphasis: middle;
    padding-top: 15px;
    padding-bottom: 15px;
}

.creditext {
    padding-left: 150px;
    text-align: left;
}

/* contactfooter */
.glfoot {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

#webfoot {
    background-color: lightgray;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 160px;
    margin-left: 160px;
    padding: 15px;
}

/* footertext */
.one {
    margin-top: 20px;
    color: darkgreen;
    font-size: 15px;
}

.two {
    color: black;
    font-size: 20px;
}

.three {
    color: black;
    font-size: 25px;
    font-weight: 500;
}

/* icons */
.fab {
    margin-top: 30px;
    font-size: 35px;
    color: rgb(63, 44, 22);
}

.greenlogo {
    height: 100px;
    width: auto;
}
/* video */
.video-section video {
    height: auto;
    width: 75%;
}
.text-center {
    text-align: center!important;
}

/* menus */
.menus {
    display: flex;
    justify-content: center;
}

.menus img {
    height: 750px;
    width: auto;
}

/* end */
.resumeBtnContainer {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.buttons {
    vertical-align: middle;
    text-align: center;
    background: lightgray;
    width: 150px;
    border-radius: 15px;
    color: rgb(106, 85, 53);
    font-size: 15px;
}

#TY {
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 2px;
}

.btntoTop {
    display: flex;
    justify-content: center;
}

/* all media  queries*/
/* all media queries */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {

    /* For mobile phones: */
    .sitepp {
        justify-content: center;
        display: flex;
        margin-left: 20px;
    }

    .sitepp img {
        height: 250px;
        width: auto;
    }

    /* user persona */
    .userpp {
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .userpp img {
        height: 300px;
        width: auto;
    }
/* vids */

    .menus {
        display: flex;
        justify-content: center;
    }

    .menus img {
        height: 450px;
        width: auto;
    }

    /* contactfooter */
    #webfoot {
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 10px;
    }

    /* footertext */
    .one {
        margin-top: 10px;
        color: darkgreen;
        font-size: 10px;
    }

    .two {
        color: black;
        font-size: 10px;
    }

    .three {
        color: black;
        font-size: 10px;
        font-weight: 400;
    }

    /* icons */
    .fab {
        margin-top: 15px;
        font-size: 20px;
        color: rgb(63, 44, 22);
    }

    .greenlogo {
        height: 50px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .nonProfitNav {
        margin: 0;
        justify-content: center !important;
    }

    .sitepp {
        justify-content: center;
        display: flex;
        margin-left: 20px;
    }

    .sitepp img {
        height: 400px;
        width: auto;
    }

    /* user persona */
    .userpp {
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }

    .userpp img {
        height: 400px;
        width: auto;
    }

    /* colors and icons */
    .colors {
        justify-content: center;
        display: flex;
        color: white;
        font-size: 9px;
        fon text-align: center;
        font-display: none !important;
        margin-top: -10px;
    }

    #cone {
        height: 60px;
        width: 60px;
        padding: -20px;
        border-radius: 50%;
        border-width: 1px;
        border-color: black;
        background-color: rgb(175, 175, 174);
        border-style: solid;
        text-decoration: white;
    }

    #ctwo {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-width: 1px;
        border-color: black;
        background-color: rgb(84, 60, 23);
        border-style: solid;
    }

    #cthree {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-width: 1px;
        border-color: black;
        background-color: rgb(33, 73, 44);
        border-style: solid;
    }

    #cfour {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-width: 1px;
        border-color: black;
        background-color: rgb(63, 44, 22);
        border-style: solid;
    }

    #cfive {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border-width: 1px;
        border-color: black;
        background-color: rgb(112, 112, 112);
        border-style: solid;
        margin-right: 15px;
    }

    .colortext {
        display: none !important;
    }

    .colorpp {
        display: flex;
        justify-content: center;
    }

    .colorpp img {
        height: 70px;
        width: auto;
    }

    .iconpara {
        text-align: left;
        padding-right: 50px;
        font-size: 12px;
    }

    .iconp {
        justify-content: center;
        display: flex;
        margin-right: 20px;
    }
    
    .iconp img {
        height: 200px !important;
        width: auto !important;
    }

.video-section {
    margin-top: 25px;
    margin-bottom: 25px;
}
}

@media only screen and (max-width: 992px) {
    .menus {
        display: flex;
        justify-content: center;
    }

    .menus img {
        height: 550px;
        width: auto;
    }

@media (max-width: 992px) {
    .sitepp {
        justify-content: center;
        display: flex;
        margin-left: 10px;
    }

    .sitepp img {
        height: 450px;
        width: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .sitepp {
        justify-content: center;
        display: flex;
        margin-left: 20px;
    }

    .sitepp img {
        height: 450px;
        width: auto;
    }

    /* colors and icons */
    .iconp {
        justify-content: center;
        display: flex;
        margin-right: 20px;
    }

    .iconp img {
        height: 350px;
        width: auto ;
    }
}

@media only screen and (max-width: 1200px) {

    /* contactfooter */
    #webfoot {
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
    }

    /* footertext */
    .one {
        margin-top: 10px;
        color: darkgreen;
        font-size: 10px;
    }

    .two {
        color: black;
        font-size: 15px;
    }

    .three {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
    .iconp {
        justify-content: center;
        display: flex;
        margin-right: 5px;
    }
    
    .iconp img {
        height: 300px;
        width: auto;
    }

    /* icons */
    .fab {
        margin-top: 15px;
        font-size: 20px;
        color: rgb(63, 44, 22);
    }

    .greenlogo {
        height: 70px;
        width: auto;
    }
}

@media only screen and (max-width: 1300px) {
    .userpp {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    /* elements */
    .creditext {
        padding-left: 10px;
    }

    /* colors and icons */
    .iconp {
        justify-content: center;
        display: flex;
        margin-right: 15px;
    }

    .iconp img {
        height: 400px;
        width: auto;
    }

    /* protoypes */
    .aboutusp {
        width: 100%;
        height: auto;
        border-width: 1px;
        display: flex;
        justify-content: center;
    }

    .aboutphoto1 {
        width: 210px;
        height: 190px;
        border: groove;
        border-color: black;
        border-width: 2px;
        padding: 10px
    }

    .aboutphotos {
        width: 200px;
        height: 180px;
    }

    .eventp {
        width: 100%;
        height: auto;
        border-width: 2px;
        display: flex;
        justify-content: center;
    }

    .sitepp img {
        height: 275px;
        width: auto;
    }

    .donatep {
        width: 100%;
        height: auto;
        border-width: 2px;
        display: flex;
        justify-content: center;
    }

    .sponsorp {
        width: 100%;
        height: auto;
        border-width: 2px;
        display: flex;
        justify-content: center;
    }

    .contactp {
        width: 100%;
        height: auto;
        border-width: 2px;
        display: flex;
        justify-content: center;
    }

    /* contactfooter */
    #webfoot {
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 10px;
    }

    /* footertext */
    .one {
        margin-top: 10px;
        color: darkgreen;
        font-size: 10px;
    }

    .two {
        color: black;
        font-size: 15px;
    }

    .three {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }

    /* icons */
    .fab {
        margin-top: 15px;
        font-size: 20px;
        color: rgb(63, 44, 22);
    }

    .greenlogo {
        height: 70px;
        width: auto;
    }

    /* elements */
    .creditext {
        font-size: 10px;
    }

    .ASline {
        flex: 50%;
        width: 100%;
        orientation: landscape;
    }
}