.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
}

#hfhNav li.nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}

.nav-item {
    color: gray;
}

.navbar-toggler-icon {
    display: inline-block;
    vertical-align: middle;
    color: darkgreen;
}
.insideContainer{
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
/* intro */
.hfht {
    text-align: center;
    color: grey;
}
.intro {
    text-align: center;
}
.pDiv {
    height: 500px;
    background-color: orange;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* elements */
.fas {
    size: .5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#secondbox {
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: dashed;
    border-color: black;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-width: 2px;
}

/* end */
.resumeBtnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons {   
    vertical-align: middle;
    text-align: center;
    background: lightgray;
   width: 150px;
    border-radius: 15px;
    color: rgb(106, 85, 53);
    font-size: 15px;
}

#TY {
    font-size: 15px;
    color: black;
    text-align: center;
    padding: 5px;
}
#scrollbutton {
    color: gray;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: -15px;
}