/* body */

.customContainer {
    background-color: lightgray;
    height: 700px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.meimg {
    border-radius: 50%;
    width: 140px;
    height: auto;
    transform: translateY(-50px);
    vertical-align: middle;
    border: groove;
    border-color: black;
    border-width: 2px;
}
#purpbox {
    width: 1140px;
    height: 30px;
    background-color: rgb(198, 182, 223);
    transform: translateY(90px);
    align-self: center;
    margin-left: 150px;
}
#blkline {
    width: 1225px;
    height: 1.5px;
    background-color: rgb(0, 0, 0);
    transform: translateY(75px);
    align-self: center;
    margin-left: 110px;
    vertical-align: middle;
}
.col-12 {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: 1px;
}

.subt {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.maint {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TY {
    font-size: 20px;
    color: rgb(198, 182, 223);
    text-align: center;
    margin-bottom: 60px;
}
/* columns */
.textc {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -110px;
}
#left {
    width: 38%;
    padding: 10px;
    height: 620px;
    color: #fff;
    background:transparent;
    float: left;
    text-align: left;
  }
  #middle {
    width: 25%;
    padding: 10px;
    height: 620px;
    color: white;
    background: transparent;
    float: left;
    text-align: center;
  }
  #right {
    padding: 10px;
    background:transparent;
    height: 620px;
    color: white;
    text-align: right;
  }
  #innerbox {
    width: 20%;
    height: 250px;
    background-color: tan;
    padding: 10px;
    color: white;
    text-align: right;
    border-width: 2px;
}
  .links {
      color:rgb(198, 182, 223);
  }

/* end */
footer {
    padding: 10px;
    background: burlywood;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    text-align: center;
    color: white;
}